{% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/login-12.css' %}">


<div class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-5">
          <h2 class="display-5 fw-bold text-center">Sign in</h2>
          <p class="text-center m-0">Don't have an account? <a href="{% url 'app1:register' %}" style="color:blue;">Sign up</a></p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="row gy-5 justify-content-center">
          <div class="col-12 col-lg-5">

            <form action="" method="post">

              {% csrf_token %}
              <div class="row gy-3 overflow-hidden">
                <div class="col-12">

                  <div class="form-floating mb-3">
                    <input type="text" class="form-control border-0 border-bottom rounded-0" name="username" id="username" placeholder="username" required value="{{ username }}">
                    <label for="username" class="form-label">Username</label>
                  </div>
                     {% if error_message %}
                  <div class="alert alert-danger" role="alert" style="color:red;">
                    {{ error_message }}
                  </div>
                  {% endif %}
                </div>
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control border-0 border-bottom rounded-0" name="password" id="password" placeholder="Password" required>
                    <label for="password" class="form-label">Password</label>
                  </div>
                   {% if error %}
                  <div class="alert alert-danger" role="alert" style="color:red;">
                    {{ error }}
                  </div>
                  {% endif %}
                </div>
                <div class="col-12">
                  <div class="row justify-content-between">
                    <div class="col-6">

                    </div>
                    <div class="col-6">


                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-lg btn-dark rounded-0 fs-6" type="submit">Log in</button>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>




{% block extra_js %}
    <script>
        {% if messages %}
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}
