{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/login-12.css' %}">

<div class="py-3 py-md-5 py-xl-8">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mb-5">
                    <h2 class="display-5 fw-bold text-center">Registration</h2>
                    <p class="text-center m-0">Already have an account? <a href="{% url 'app1:login' %}" style="color:blue;">Sign in</a></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="row gy-5 justify-content-center">
                    <div class="col-12 col-lg-5">
                        <form action="{% url 'app1:register' %}" method="post">
                            {% csrf_token %}
                            <div class="row gy-3 overflow-hidden">
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control border-0 border-bottom rounded-0" name="username" id="username" placeholder="Username" required value="{{username}}">
                                        <label for="username" class="form-label">Username</label>
                                    </div>
                                    {% if error_message %}
                                    <div class="alert alert-danger" role="alert" style="color:red;">
                                        {{ error_message }}
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control border-0 border-bottom rounded-0" name="firstName" id="firstName" placeholder="First Name" required value="{{firstname}}">
                                        <label for="firstName" class="form-label">First Name</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control border-0 border-bottom rounded-0" name="lastName" id="lastName" placeholder="Last Name" required value="{{lastname}}">
                                        <label for="lastName" class="form-label">Last Name</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control border-0 border-bottom rounded-0" name="email" id="email" placeholder="name@example.com" required value="{{email}}">
                                        <label for="email" class="form-label">Email</label>
                                    </div>
                                        {% if error_message1 %}
                                    <div class="alert alert-danger" role="alert" style="color:red;">
                                        {{ error_message1 }}
                                    </div>
                                    {% endif %}

                                </div>

                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control border-0 border-bottom rounded-0" name="password" id="password" value="" placeholder="Password" required >
                                        <label for="password" class="form-label">Password</label>
                                    </div>
                                </div>



                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class="btn btn-lg btn-dark rounded-0 fs-6" type="submit">Sign up</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
